@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Arte de Fabian</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/wwwroot/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="~/wwwroot/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>


<body id="body">

        <header>
                <h1>Arte-Ando</h1>
                <p>Un paseo por el mundo del arte</p>
        </header> 
    
        
        <form>
            <h2>SUSCRIBETE</h2>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Direccion">
            <input type="Email" placeholder="Correo">
            <input class="btn" type="submit" value="Ingresar">
        </form>
        
    
        <nav>
            <h1>Menu</h1>
                <ul class="nav">
                    <li><a href="#">Reciente</a></li>
                    <li><a href="#">Catalogo</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Material Extra</a></li>
                    <li><a href="#">Inform-Arte</a></li>
                    <li><a href="#">Acerca de</a></li>
                 </ul>
        </nav>

                        
    
    
        <footer>
            Fabian Losada / Arte-Ando &copy; 2024 Todos los derechos Reservados
        </footer>
        
        
        
        
        <section>
        </section>
        
        
        
        <article>
        </article>
        
        
</body>
 </html>

